<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="display-4">Bem-vindo ao Site de Vendas</h1>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Ver Produtos</h5>
                    <a class="btn btn-primary" href="/Produtos/Index">
                        <i class="fas fa-box-open"></i> Ver Produtos
                    </a>
                    <p class="card-text">Clique para visualizar a lista de produtos disponíveis.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Ver Notas</h5>
                    <a class="btn btn-primary" href="/NotasDeVenda/Index">
                        <i class="fas fa-file-invoice-dollar"></i> Ver Notas
                    </a>
                    <p class="card-text">Clique para visualizar suas notas de venda. Para ver os itens de uma nota, clique em "Detalhes".</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Ver Clientes</h5>
                    <a class="btn btn-primary" href="/Clientes/Index">
                        <i class="fas fa-users"></i> Ver Clientes
                    </a>
                    <p class="card-text">Clique para visualizar a lista de clientes cadastrados na plataforma.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12 text-center">
            <p>Para adicionar um novo item a uma nota:</p>
            <ol>
                <li>Clique em "Ver Notas".</li>
                <li>Escolha a nota desejada e clique em "Detalhes".</li>
                <li>Na página de detalhes da nota, clique em "Adicionar Item".</li>
                <li>Preencha as informações do item e clique em "Criar".</li>
            </ol>
        </div>
    </div>
</div>
