@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Site de vendas</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    <a class="btn btn-primary" href="/Produtos/Index">Ver Produtos</a>
    <a class="btn btn-primary" href="/NotasDeVenda/Index">Ver Notas</a>
    <a class="btn btn-primary" href="/NotasCanceladas/Index">Ver Notas Canceladas</a>
    <a class="btn btn-primary" href="/NotasDevolvidas/Index">Ver Notas Devolvidas</a>
    <a class="btn btn-primary" href="/Clientes/Index">Ver Clientes</a>
</div>
